.font-primary {
    color: #556DE6;
}
.font-secondary {
    color: #636678;
}
.font-success {
    color: #4BA679;
}
.font-info {
    color: #2D93EE;
}
.font-warning {
    color: #EEA530;
}
.font-danger {
    color: #ED4745;
}
.ui-select-choices.dropdown-menu {
    display: block;
}